version: 2

workflows:
  version: 2
  build-deploy:
    jobs:
      - deploy

jobs:
  deploy:
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master