version: 2

workflows:
  version: 2
  build-deploy:
    jobs:
      - deploy
          filters:
            branches:
              only: master

jobs:
  deploy:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main
            heroku run python web/manage.py migrate
            heroku run python web/manage.py createsuperuser --noinput
            heroku run bash web/utils/create_data.sh


